version: '3.8'
services:
  redis:
    image: redis:alpine
    command: redis-server --requirepass A589nko4xlr1f00rt7bu8vp4924s8fe74ubpnmva5lv8buptngb
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
